#chrome-extension-boilerplate-react-vite-content-view-root {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.youtube-app {
  margin-bottom: 12px;
  /*position: relative;*/
  /*background-color: #1e1e1e;*/
  /*color: white;*/
  /*padding: 16px;*/
  /*border-radius: 8px;*/
  /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);*/
  /*!* width: 350px; *!*/
  /*max-width: calc(100% - 20px);*/
  /*margin-bottom: 20px;*/
}

.youtube-app-panel {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);*/
  max-width: calc(100% - 20px);
  margin-bottom: 20px;
}

.youtube-app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.youtube-app-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.youtube-app-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.youtube-app-button {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
  border-radius: 18px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.youtube-app-button:hover {
  background-color: #3d3d3d;
}

.youtube-app-button:active {
  background-color: #505050;
}

.summary-container {
  font-size: 14px;
}

.summary-container ul {
  padding-left: 1em;
}

.language-selector-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.menu-selector {
  background-color: rgba(255,255,255, 0.1);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-selector option {
  background-color: rgba(0, 0, 0, 0.5); 
}

.youtube-app-container.light .menu-selector option {
  background-color: #e0e0e0; /* Фон для светлой темы */
  color: rgb(19, 19, 19); /* Цвет текста для светлой темы */
}

.menu-selector:hover,
.menu-selector:focus {
  background-color: rgba(255,255,255, 0.2);
}

.error-body {
  color: red;
  font-size: 14px;
}

.loading-text {
  font-size: 12px;
  margin-top: 10px;
}

.selectors-container {
  display: flex;
}

.toggle-icons {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.toggle-icons .icon:first-child {
  margin-right: 5px;
}

.toggle-icons .icon {
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.toggle-icons .icon.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.copy-button {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.copy-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Light Theme Overrides */
.youtube-app-container.light .youtube-app-panel {
  background-color: rgba(0,0,0, 0.05);
  color: rgb(19, 19, 19);
}

.youtube-app-container.light .youtube-app-button {
  background-color: rgba(0,0,0, 0.05);
  color: rgb(19, 19, 19);
}

.youtube-app-container.light .youtube-app-button:hover {
  background-color: #d5d5d5;
}

.youtube-app-container.light .youtube-app-button:active {
  background-color: #c0c0c0;
}

.youtube-app-container.light .menu-selector {
  background-color: #e0e0e0;
  color: rgb(19, 19, 19);
}

.youtube-app-container.light .menu-selector:hover,
.youtube-app-container.light .menu-selector:focus {
  background-color: #d5d5d5;
}

.youtube-app-container.light .toggle-icons {
  background-color: #e0e0e0;
}

.youtube-app-container.light .toggle-icons .icon {
  color: rgb(19, 19, 19);
}

.youtube-app-container.light .toggle-icons .icon.active {
  background-color: #d5d5d5;
}

.youtube-app-container.light .copy-button {
  background-color: #e0e0e0;
  color: rgb(19, 19, 19);
}

.youtube-app-container.light .copy-button:hover {
  background-color: #d5d5d5;
}
